@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --bg-color: linear-gradient(45deg, #4e54c8, #8f94fb);
  --bg-color-2: #d9dbff;
  --color-1: #4e54c8;
  --color-2: #8f94fb;
  --color-white: #fff;
  --color-black: #222;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  transform-origin: center;
  transform-box: fill-box;
}

html {
  scroll-behavior: smooth;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 0px;
  background: var(--bg-color);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.wrapper .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  padding: 20px;
}

.wrapper .container svg {
  width: 100%;
  z-index: 1000;
}

.wrapper .svg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  padding: 10px;
}

.wrapper .svg svg {
  height: 100%;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-white);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 30px;
}

section .information {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

section .information h2 {
  font-size: 1.75rem;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;

  color: #000;
  background: linear-gradient(
    to right,
    #4e54c8 20%,
    #1cb5e0 40%,
    #1cb5e0 60%,
    #4e54c8 80%
  );
  background-size: 200% auto;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  z-index: 50;

  animation: shine 3s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

section .information p {
  font-size: 1.25rem;
  text-align: center;
  font-weight: 400;
  z-index: 60;
}

main {
  width: 100%;
  height: fit-content;
  padding: 50px 12px;
  display: grid;
  gap: 3rem;
  grid-auto-rows: 24rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 18rem), 1fr));
  background-color: var(--bg-color-2);
}

main .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7%;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  background-color: var(--color-white);
  border-top: 6px solid var(--color-1);
  box-shadow: 10px 10px 0px rgb(0, 0, 0, 0.8);

  transition: all 0.3s ease-in-out;
}

main .card .card__title {
  text-align: center;
  font-size: clamp(24px, 32px, 48px);
  line-height: 48px;
  font-weight: 800;
}

main .card .card__body {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  line-height: 1.5rem;
  color: rgb(0, 0, 0, 0.6);
}

main .card .card__btn {
  text-decoration: none;
  display: inline-block;
  padding: 5px 40px;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #fff;
  background: var(--bg-color);

  transition: all 0.2s ease-in-out;
}

main .card .card__btn:hover {
  transform: scale(1.1);
}

main .card .card__btn:active {
  transform: translateY(5px);
}

main .card:hover {
  transform: translateY(-10px);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.btn {
  display: inline-block;
  background: var(--bg-color);
  padding: 5px 10px;
  color: var(--color-white);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  font-size: 20px;
  font-weight: 600;

  transition: all 0.2s ease-in-out;
}

.btn i {
  margin-right: 10px;
}

.btn:hover {
  transform: translateY(-5px);
}

.btn:active {
  transform: scale(0.9);
}

.container__view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--color-black);
  height: fit-content;
  width: 100%;
  height: 100vh;
  padding: 40px 0px;
  gap: 20px;
}

.container__view h2 {
  text-align: center;
  font-size: 28px;
  color: var(--color-white);
}

.container__view .infografia {
  position: relative;
  background-color: #4e54c8;
  width: 90%;
  height: 50%;
}

.container__view .infografia h4 {
  position: absolute;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  font-size: 20px;
  font-weight: 600;
  color: var(--color-white);
  top: 10px;
  left: 15px;
}

.infografia .info__container {
  width: 100%;
  height: 100%;
}

.infografia .info__container .info {
  width: 100%;
  height: 100%;
}

/* STYLING SCROLLBAR */

::-webkit-scrollbar {
  width: 1vw; /* THIS WILL RESET THE DEFAULT SCORLLBAR STYLING */
}

/* TO STYLE THE SCROLLBAR TRACK */
::-webkit-scrollbar-track {
  background-color: #2c2c2c; /* THIS WILL SET THE COLOR OF THE SCROLLBAR TRACK */
}

/* TO STYLE THE SCROLLBAR THUMB */
::-webkit-scrollbar-thumb {
  background-color: var(--color-white);
  border: 0.3vw solid #2c2c2c;
  border-radius: 5vw;
}

@media only screen and (min-width: 640px) {
  section {
    padding: 75px;
  }

  section .information h2 {
    font-size: 2.2rem;
  }

  section .information p {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .wrapper {
    height: 100vh;
    padding: 0;
  }

  .wrapper .container,
  .wrapper .svg {
    height: 100%;
  }

  .wrapper .container {
    align-items: end;
    justify-content: flex-start;
    padding: 40px;
  }

  .wrapper .container svg {
    width: 60%;
  }

  .wrapper .svg {
    position: absolute;
    align-items: end;
    justify-content: end;
    padding: 20px;
  }

  main {
    padding: 80px;
  }

  .container__view h2 {
    font-size: 36px;
  }

  .container__view .infografia {
    width: 75%;
    height: 65%;
  }

  nav {
    gap: 15px;
  }

  .btn {
    padding: 10px 20px;
    font-size: 24px;
  }

  section {
    padding: 100px;
  }

  section .information {
    gap: 50px;
  }

  section .information h2 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper .container svg {
    width: 55%;
  }

  main {
    padding: 80px;
  }

  .container__view h2 {
    font-size: 2.75rem;
  }

  .btn {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1280px) {
  section {
    padding: 150px;
  }

  section .information {
    gap: 75px;
  }

  section .information h2 {
    font-size: 3rem;
  }

  section .information p {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1536px) {
  nav {
    gap: 20px;
  }

  section .information h2 {
    font-size: 3.5rem;
  }

  section .information p {
    font-size: 2.5rem;
  }
}
