---
import Layout from '../layouts/Layout.astro'
import MainTitle from '../components/MainTitle.astro'
import MainImage from '../components/MainImage.astro'
import InfoSection from '../components/InfoSection.astro'
import Card from '../components/Card.astro'

const allPost = await Astro.glob('./blog/*.md')
---

<Layout title='Tus Infografías.'>
  <header class='wrapper parallax'>
    <div class='container'>
      <MainTitle />
    </div>
    <div class='svg'>
      <MainImage />
    </div>
  </header>
  <InfoSection />
  <main id='cards'>
    {
      allPost.map((post) => (
        <Card
          title={post.frontmatter.title}
          desc={post.frontmatter.description}
          url={post.url}
        />
      ))
    }
  </main>
</Layout>

<script>
  import * as basicScroll from 'basicscroll'

  let parallax_sections = document.querySelectorAll('.parallax')

  for (let parallax_section of parallax_sections) {
    let _from = parallax_section.getAttribute('data-from') || '0px'
    let _to = parallax_section.getAttribute('data-to') || '700px'
    let instance = basicScroll.create({
      elem: parallax_section,
      from: 'top-top',
      to: 'bottom-top',
      direct: true,
      props: {
        '--ty': {
          from: _from,
          to: _to,
        },
      },
    })
    instance.start()
  }
</script>
