---
import Layout from '../layouts/Layout.astro'
import MainTitle from '../components/MainTitle.astro'
import MainImage from '../components/MainImage.astro'
import InfoSection from '../components/InfoSection.astro'
import Card from '../components/Card.astro'
import Links from '../components/Links.astro'

const allPost = await Astro.glob('./blog/*.md')
---

<Layout title='Tus Infografías.'>
  <Links />
  <header id='home' class='wrapper'>
    <div class='container'>
      <MainTitle />
    </div>
    <div class='svg'>
      <MainImage />
    </div>
  </header>
  <InfoSection />
  <main id='cards'>
    {
      allPost.map((post) => (
        <Card
          title={post.frontmatter.title}
          desc={post.frontmatter.description}
          url={post.url}
        />
      ))
    }
  </main>
</Layout>

<script>
  import Rellax from 'rellax'
  import ScrollReveal from 'scrollreveal'

  let titleParallax = new Rellax('.landing')
  let bodyParallax = new Rellax('.information', {
    wrapper: '.parallax',
    center: true,
    relativeToWrapper: true,
  })

  window.addEventListener('scroll', function () {
    bodyParallax.refresh()
    titleParallax.refresh()
  })

  ScrollReveal().reveal('.card', { delay: 250 })
</script>
