---
import Layout from '../layouts/Layout.astro'
import MainTitle from '../components/MainTitle.astro'
import MainImage from '../components/MainImage.astro'
import InfoSection from '../components/InfoSection.astro'
import Card from '../components/Card.astro'

const allPost = await Astro.glob('./blog/*.md')
---

<Layout title='Tus Infografías.'>
  <header class='wrapper'>
    <div class='container'>
      <MainTitle />
    </div>
    <div class='svg'>
      <MainImage />
    </div>
  </header>
  <InfoSection />
  <main>
    {
      allPost.map((post) => (
        <Card
          title={post.frontmatter.title}
          desc={post.frontmatter.description}
          url={post.url}
        />
      ))
    }
  </main>
</Layout>
