<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 209.99 209.96'
  ><title>foto</title><g id='foto-svg' data-name='Capa 2'
    ><g id='image-foto'
      ><g id='foto'
        ><path
          d='M60.21,207.43a2.54,2.54,0,0,1-2.13-1.61L2.69,61.31a2.52,2.52,0,0,1,1.44-3.25L148.68,2.68a2.4,2.4,0,0,1,1-.16,2.44,2.44,0,0,1,1,.21,2.66,2.66,0,0,1,.8.57,2.48,2.48,0,0,1,.52.83l55.4,144.51a2.67,2.67,0,0,1,.16,1,2.4,2.4,0,0,1-.22.95,2.29,2.29,0,0,1-.57.8,2.5,2.5,0,0,1-.83.53L61.32,207.27A2.61,2.61,0,0,1,60.21,207.43Z'
          style='fill:#fcf7eb'></path><path
          d='M149.56,5,205,149.54,60.42,204.92,5,60.41ZM150,0a5,5,0,0,0-2.23.31L3.23,55.72a5.08,5.08,0,0,0-1.66,1.05,5,5,0,0,0-1.13,1.6,4.95,4.95,0,0,0-.1,3.85L55.73,206.73a5,5,0,0,0,1.05,1.66,5,5,0,0,0,1.6,1.14,5.09,5.09,0,0,0,3.86.1l144.52-55.39a5,5,0,0,0,1.66-1.05,5,5,0,0,0,1.14-1.6,4.93,4.93,0,0,0,.43-1.92,5.06,5.06,0,0,0-.33-1.93L154.25,3.23A5,5,0,0,0,152.58,1,5,5,0,0,0,150,0Z'
          style='fill:#193847'></path><path
          d='M61.18,165a2.52,2.52,0,0,1-1.29-.49,2.55,2.55,0,0,1-.84-1.11L23.11,69.67a2.51,2.51,0,0,1,1.45-3.25L139.05,22.54a2.56,2.56,0,0,1,2.41.34,2.46,2.46,0,0,1,.83,1.11l36,93.77a2.47,2.47,0,0,1,.16,1,2.5,2.5,0,0,1-.78,1.76,2.65,2.65,0,0,1-.83.52L62.29,164.89A2.6,2.6,0,0,1,61.18,165Z'
          style='fill:#73cae6'></path><path
          d='M140,24.89l35.94,93.77L61.4,162.54,25.46,68.77Zm.44-5a5.05,5.05,0,0,0-2.24.32L23.66,64.07A5,5,0,0,0,22,65.12a5,5,0,0,0-1.14,1.6,5.11,5.11,0,0,0-.43,1.92,4.89,4.89,0,0,0,.34,1.93l35.94,93.78a5.23,5.23,0,0,0,1,1.66,5,5,0,0,0,1.61,1.13,5,5,0,0,0,3.85.11l114.5-43.88a5,5,0,0,0,3.23-4.56,5.12,5.12,0,0,0-.34-1.94L144.66,23.1A5.1,5.1,0,0,0,143,20.88a5,5,0,0,0-2.59-1Z'
          style='fill:#193847'></path><path
          d='M68.74,95.77a16.26,16.26,0,1,1,7.22-1A16,16,0,0,1,68.74,95.77Z'
          style='fill:#fdf5bc'></path><path
          d='M71.32,65.9a13.74,13.74,0,1,1-6.09.86A13.69,13.69,0,0,1,71.32,65.9Zm.44-5a18.77,18.77,0,0,0-3.24,37.39A18.76,18.76,0,0,0,88.73,77a18.77,18.77,0,0,0-17-16.08Z'
          style='fill:#193847'></path><path
          d='M63.07,164.32a2.65,2.65,0,0,1-1-.27,2.69,2.69,0,0,1-.76-.62,2.52,2.52,0,0,1-.57-1.85c.13-1.6,3.87-39.34,16.35-50.88,2.81-2.6,7.27-3.6,13.61-3,20.51,1.79,54.84,19.54,56.28,20.29a2.52,2.52,0,0,1,1,1,2.57,2.57,0,0,1,.33,1.38,2.63,2.63,0,0,1-.48,1.35,2.5,2.5,0,0,1-1.14.86L64.18,164.16A2.61,2.61,0,0,1,63.07,164.32Z'
          style='fill:#36b49f'></path><path
          d='M90.51,110.15c20.24,1.76,55.35,20,55.35,20L63.29,161.82s3.63-38.25,15.55-49.28c2.41-2.23,6.57-2.83,11.69-2.39m.43-5c-7.1-.62-12.17.59-15.54,3.7-13,12-16.75,48.38-17.14,52.49a5.1,5.1,0,0,0,.4,2.5,5,5,0,0,0,6.4,2.67l82.58-31.64a5,5,0,0,0,.52-9.15C146.71,125,111.94,107,91,105.16Z'
          style='fill:#193847'></path><path
          d='M93.08,152.81a2.44,2.44,0,0,1-1-.32,2.37,2.37,0,0,1-.8-.71,2.58,2.58,0,0,1-.43-1,2.42,2.42,0,0,1,0-1.07c.54-2.24,13.31-55,25.64-66.37A10.11,10.11,0,0,1,124.59,81c17.54,1.52,51.61,34.47,53,35.87a2.58,2.58,0,0,1,.65,1.06,2.64,2.64,0,0,1,.06,1.25,2.62,2.62,0,0,1-.55,1.12,2.47,2.47,0,0,1-1,.72L94.21,152.66A2.56,2.56,0,0,1,93.08,152.81Z'
          style='fill:#36b49f'></path><path
          d='M124.38,83.49c16.85,1.46,51.51,35.17,51.51,35.17L93.3,150.31s13-54.1,24.91-65.12a7.75,7.75,0,0,1,6.17-1.7m.43-5c-5.09-.44-8.26,1.4-10,3-12.67,11.72-25,61.94-26.39,67.63a5,5,0,0,0,1.57,5,5,5,0,0,0,5.12.92l82.58-31.65a5,5,0,0,0,3.13-3.68,5,5,0,0,0-.12-2.49,5.06,5.06,0,0,0-1.3-2.12c-3.67-3.58-36.47-35-54.57-36.58Z'
          style='fill:#193847'></path>
      </g>
    </g>
  </g>
</svg>
