---
import FotoSVG from './FotoSVG.astro'
---

<section>
  <div class='information'>
    <h2>A Large Title</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati officia
      voluptatibus provident sit ipsum consequatur fugiat natus? Provident,
      velit voluptas! Quia ut dicta consequuntur voluptatum! In minima nesciunt
      sed qui.
    </p>
  </div>
  <FotoSVG />
</section>
