---
const { link } = Astro.props
---

<div class='infografia'>
  <div class='info__container'>
    <iframe src={link} allowfullscreen='allowfullscreen' allow='fullscreen'>
    </iframe>
  </div>
</div>
