---
const { link, path } = Astro.props
---

<div class='infografia'>
  <h4>Preview</h4>
  <div class='info__container'>
    <iframe
      class='info'
      src={link}
      allowfullscreen='allowfullscreen'
      allow='fullscreen'
    >
    </iframe>
  </div>
</div>
